.tile-outer {
    flex: 1;
    margin: .25rem;
    position: relative;
    overflow: hidden;
}

.tile-outer:before {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-right-color: transparent;
    border-left-color: transparent;
    animation: rotate 1.2s linear infinite;
    z-index: -1;
}

.tile-inner {
    background-size: cover;
    background-position: center;
    counter-increment: line-number;
    cursor: not-allowed;
}

.tile-inner::before {
    content: counter(line-number);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 1.5rem;
    transition: all .3s;
}

@media (min-width: 800px) and (min-height: 600px) {
    .tile-outer:before {
        width: 48px;
        height: 48px;
        top: calc(50% - 24px);
        left: calc(50% - 24px);
    }

    .tile-inner::before {
        font-size: 3rem;
    }
}

.game-locked .tile-inner {
    cursor: pointer;
}

.game-locked .tile-inner:hover:not(.matched)::before {
    color: #000;
}

.tile-inner.shown::before {
    opacity: 0;
}

.tile-inner.matched::before {
    opacity: 0;
    animation: opacityInOutIn;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    cursor: not-allowed;
}

.game-ended .tile-inner::before {
    animation: opacityInOutIn .5s ease .5s, opacityIn 3s ease 2s;
    animation-fill-mode: forwards;
    cursor: default;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacityInOutIn {
    0% {
        opacity: 0;
    }
    33% {
        opacity: .65;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: .65;
    }
}

@keyframes opacityIn {
    0% {
        opacity: .65;
    }
    100% {
        opacity: .0;
    }
}