.btn.btn-xl, .btn-xl button {
    padding: 1rem;
}

.shadow.shadow-dark {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .75) !important;
}

.tile-count-selector .dropdown-menu {
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.tile-grid-preview-popover .popover-body {
    padding: .5rem;
}

.tile-grid-preview-popover .popover-arrow {
    display: none !important;
}

.tile-grid-preview-tile {
    margin: 1px;
}